<!DOCTYPE html>
<html>
<head>
	<title>say hello</title>
	<link rel="stylesheet" href="../static/hello.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
</head>
	<body>
	<div id="form" class="form_layout">
		<a href="/.."><img src="static\logo.png" alt="logo" id="logo"></a>

		<form  method="POST" action='greet'>
			{%for message in get_flashed_messages()%}
				<p><span style="font-weight: bolder;font-size: 20px;color:rgb(26, 110, 116);padding-left: 65px;font-family: 'Satisfy',cursive;">{{message}}</span></p>
			{% endfor %}
			<div id="input_layout">
			<input type="text" name="name_input">
			</div>
			<br>
			<div id="button_layout">
			<input type="submit" id="button" value="Rock!" name="li">
			
			</div>
		</form>
	</di>
	</body>
</html>