<!DOCTYPE html>
<html>
<head>
	<title>say hello</title>
	<link rel="stylesheet" href="../static/hello.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
</head>
	<body>
	<div id="form" class="form_layout">
		<img src="https://raw.githubusercontent.com/MariyaSha/SimpleGreetingApp/main/logo.png" alt="logo">
		<p><span style="font-weight: bolder;font-size: 20px;color:rgb(26, 110, 116);padding-left: 65px;font-family: 'Satisfy',cursive;">What's your name ?</span></p>
		<form>
			<div id="input_layout">
			<input type="text" id="name">
			</div>
			<br>
			<div id="button_layout">
			<input type="button" id="button" value="Rock!">
			</div>
		</form>
	</div>
	</body>
</html>