<!DOCTYPE html>
<html>
<head>
	<title>say hello</title>
	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
	<link rel="stylesheet" href="../static/hello.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
	<body>
	<a href="https://github.com/iniyanv/say-hello"><i class="material-icons" id="code">computer</i></a> 
	<div id="form" class="form_layout">

		<a href="/.."><img src="../static/text.png" alt="logo" id="logo"></a>

		<form  method="POST" action='greet'>
			{%for message in get_flashed_messages()%}
				<p><span style="font-weight: bolder;font-size: 40px;color:rgb(26, 110, 116);font-family: 'Satisfy',cursive;margin: 20px;text-align: center;">{{message}}
</span></p>
			{% endfor %}
			<div id="input_layout">
			<input type="text" id="name" name="name_input">
			</div>
			<br>
			<div id="button_layout">
			<input type="submit" id="button" value="Greet!" name="li">

			</div>
		</form>
	</di>
	</body>
</html>